<div class="login-container animated bounce">
    <mat-card class="login">
  <mat-card-content>
    <p>فراموشی رمز عبور</p>
      <form  class="auth-content no-select"  method="post" s>
        <mat-form-field>
         <input [(ngModel)]="d.phone" name="d.phone" type="text" matInput placeholder="تلفن همراه" >
       </mat-form-field>
       <mat-form-field>
          <input [(ngModel)]="d.national" name="d.national" type="text" matInput placeholder="کد ملی" >
        </mat-form-field>
       <br>
       <mat-form-field *ngIf="accept">
        <input  [(ngModel)]="d.code" name="d.code" type="text" matInput placeholder="کد">
        <mat-hint></mat-hint>
      </mat-form-field>
      <br>
      <mat-checkbox color="primary"
               class="example-margin">
               مرا به خاطر بسپار
           </mat-checkbox>
           <button *ngIf="d.phone.length  >= 10"  mat-raised-button type="submit" color="primary" style="background:#1c39bb">
             <i class="gb gb_loop gb_animate_spin gb_s24"  *ngIf="loging"></i>
             <span *ngIf="!loging" (click)="checkInput()">بازیابی</span>
           </button>

           <button mat-raised-button routerLink="/users/login" type="button" color="primary" style="margin-top:5px; background:#1A237E">
             <span >بازگشت</span>


           </button>
      </form>
  </mat-card-content>

    </mat-card>
  </div>
  <p style="text-align:center; margin:0; padding:0; font-size:12px">کلیه حقوق برای عصر ارتباطات دهکده محفوظ است</p>
