<div class="grid " #fuckMe id="grid">
    <div class="col-5" >
       <mat-card>
                 <h3 style="margin:0; padding: 0;">به رایدا خوش آمدید</h3>
                 <h4 style="margin:0; margin-bottom:5px;  padding: 0;">عصر ارتباطات دهکده</h4>

         <mat-card-content>
           <p class="mtext">
             سلام به رایدا نرم افزار یکپارچه ارتباط با دانشجو خوش آمدید
            </p>

             <p>
              RC ورژن
             </p>

               <p>
                 ضمن تبریک سال نو میلادی ورود شما را به رایدا
                 خوش آمد میگوییم
               </p>
           <a [routerLink]="['/foods']" routerLinkActive="router-link-active" >صفحه رزرو غذا</a>
           <div class="imgs">

           </div>

         </mat-card-content>
         <mat-card-actions>
           <p style="text-align:left; padding: 0; margin: 0; padding-left: 10px">

           </p>
         </mat-card-actions>

       </mat-card>
      </div>
</div>
